<ion-header>
  <ion-toolbar>
    <ion-title>
      Exercises
    </ion-title>
  </ion-toolbar>

  <ion-toolbar id="second">

    <ion-buttons slot="start">
      <ion-item lines="none">
        <ion-label color="light">Filter by Muscles</ion-label>
        <ion-checkbox [(ngModel)]="useFilter" color="primary">
        </ion-checkbox>
      </ion-item>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [disabled]="!useFilter" fill="clear"
        (click)="selectMuscle()" >
        <ion-icon slot="end" name="body"></ion-icon>
        <ion-badge slot="end">{{filteredMusclesCount}}</ion-badge>
        Select Muscles
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-list lines="none">

    <ion-item *ngFor="let img of filteredImages">
    <ion-grid>
      <ion-row>
        <ion-col size="9" class="ion-text-center">
          <ion-input type='text' class="ion-text-wrap"
            [ngModel]=img.media.name
            placeholder="Exercise Name"
            (change)="updateImage($event.target.value, img.media)">
          </ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" (click)="setMuscle(img.media)" color="dark">
            <ion-icon slot="icon-only" name="body"></ion-icon>
            <ion-badge *ngIf="img.media.muscles.length" [color]="tertiary">
              {{img.media.muscles.length}}
            </ion-badge>
        </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item lines="none" (click)="expandItem(img, $event)">
          <img [src]="safeImage(img.media)" slot="start"/>
          <app-expandable expandHeight="100px" [expanded]="img.expanded" slot="start">
            <ion-button fill="clear" [disabled]="img.usage.length > 0"
              (click)="deleteImage(img.media)" color="light">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <ion-button *ngFor="let use of img.usage" size="small" fill="clear"
                (click)="goToWorkoutDay(use, $event)" color="light">
                <ion-icon slot="icon-only" name="walk"></ion-icon>
            </ion-button>
          </app-expandable>
        </ion-item>
      </ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer *ngIf="IsMobile">
  <ion-toolbar id=toolbarInFooter>
    <ion-button fill="clear" expand="full"
      (click)="selectImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image</ion-button>
  </ion-toolbar>
</ion-footer>