ion-toolbar#buttons {
    --background: var(--ion-color-tertiary);

    ion-item {
        --padding-start: 8px;
        --ion-background-color: var(--ion-color-tertiary);

        ion-toggle {
            padding-right: 4px;
        }

        ion-label {
            color: var(--ion-color-light);
            font-size: large;
        }

        ion-button {
            --background: var(--ion-color-tertiary);
            --color: var(--ion-color-primary);

            ion-label {
                color: var(--ion-color-light);
            }

            ion-badge {
                --padding-start: 4px;
                --padding-end: 4px;
                margin-left: 4px;
                margin-right: 4px;
                --background: var(--ion-color-primary);
            }
        }
    }
}

ion-list {
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 8px;
    background: var(--ion-color-tertiary);

    ion-item {
        margin-top: 4px;
        margin-bottom: 8px;
        --padding-start: 4px;
        --padding-end: 4px;
        --padding-bottom: 4px;
        --padding-top: 4px;
        --inner-padding-end: 0px;
        --ion-background-color: var(--ion-color-primary);
        --border-radius: 10px;
        --border-style: solid;
        --border-color: var(--ion-color-tertiary);

        div {
            width: 100%;

            ion-item {
                margin-top: 0px;
                margin-bottom: 0px;

                ion-button {
                    --padding-end: 0px;
                    --color: var(--ion-color-light);
                }

                &#titleBtn {
                    margin-top: 0px;
                    margin-bottom: 0px;

                    ion-button {
                        max-width: 55%;
                        height: auto;

                        p {
                            font-size: medium;
                            margin-top: 4px;
                            margin-bottom: 4px;
                            text-align: start;
                        }

                        ion-badge {
                            --background: var(--ion-color-tertiary);
                            --color: var(--ion-color-light);
                        }
                    }
                }

                ion-row {
                    width: 100%;

                    ion-button.img-btn {
                        height: auto;
                        max-width: 80px;
                        --padding-start: 0px;
                        --padding-end: 0px;
                        margin: 0px;

                        img {
                            width: 100%;
                            height: auto;
                            border: 2px;
                            border-radius: 8px;
                            border-style: solid;
                            border-color: var(--ion-color-tertiary)
                        }
                    }

                    ion-col {
                        div.usage {
                            background: var(--ion-color-secondary);
                            margin-left: 4px;
                            margin-right: 4px;
                            margin-bottom: 4px;
                            margin-top: 4px;
                            border-radius: 8px;
                            width: unset;
                            ion-button {
                                width: 50px;
                                --color: var(--ion-color-dark)
                            }
                            ion-label {
                                padding: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

ion-toolbar#toolbarInFooter {
    --background: var(--ion-color-tertiary);
}