ion-item {
    width: 100%;
    margin-left: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
}
ion-input {
    font-size: small;
}
img {
    height: 80px;
    width: 80px;
    margin: 2px 1px;
}
app-expandable {
    margin: 0px;
}