ion-toolbar#second {
    --background: var(--ion-color-tertiary);
    ion-item {
        padding-bottom: 0px;
        ion-label {
            padding-left: 4px;
        }
        ion-checkbox {
            --background: var(--ion-color-primary)
        }
    }
}
ion-list {
    margin: 8px;
    background: var(--ion-color-tertiary);
}
ion-item {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 12px;
    --background: var(--ion-color-tertiary);
    --inner-padding-end: 0px;
    --padding-start: 0px;

    ion-badge {
        --background: var(--ion-color-tertiary);
        --color: var(--ion-color-light);
    }
}
ion-input {
    color: var(--ion-color-dark) !important;
    text-align: center;
}
ion-textarea {
    --color: var(--ion-color-dark);
    --padding-start: 4px!important;
    --padding-end: 4px!important;
}
img {
    height: 80px;
    width: 80px;
    margin: 0px;
}
app-expandable {
    margin: 0px;
    padding-bottom: 2px;
}
ion-grid {
    background: var(--ion-color-primary);
}

ion-toolbar#toolbarInFooter {
    --background: var(--ion-color-tertiary);
}