<ion-header>
  <ion-toolbar>
    <ion-title>
      Exercises
    </ion-title>
  </ion-toolbar>

  <ion-toolbar id="buttons">

      <ion-item lines="none" >
        <ion-toggle [(ngModel)]="useFilter" slot="start" >
        </ion-toggle>

        <ion-button slot="start"
          [disabled]="!useFilter" fill="clear"
          (click)="selectMuscle()">
          <ion-label slot="start">
            Filter by
          </ion-label>
          <ion-icon slot="icon-only" name="body-sharp"></ion-icon>
          <ion-badge slot="start">
            {{filteredMusclesCount}}
          </ion-badge>
          <ion-label slot="end">
            Muscles
          </ion-label>
      </ion-button>

      </ion-item>

  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row *ngFor="let img of filteredImages"
      class="ion-align-items-center">
      <div class="title">
        <ion-row >
          <ion-col size="8">
            <ion-row class="ion-justify-content-between">
            <ion-button fill="clear" expabd="full" class="edit-button"
            (click)="editImageName($event, img)">
                <ion-col size="2" class="ion-no-padding">
                    <ion-icon name="pencil-sharp" size="small" color="light">
                    </ion-icon>
                </ion-col>
                <ion-col size="10" class="ion-no-padding">
                    <p class="ion-text-wrap">
                      {{img.media.name}}
                    </p>
                </ion-col>
            </ion-button>
          </ion-row>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear" (click)="setMuscle(img.media)">
              <ion-icon slot="icon-only" name="body-sharp" size="small"></ion-icon>
              <ion-badge *ngIf="img.media.muscles.length">
                {{img.media.muscles.length}}
              </ion-badge>
            </ion-button>
          </ion-col>
          <ion-col size="2">
          <ion-button fill="clear" [disabled]="!img.usage || img.usage.length > 0"
            (click)="deleteImage(img.media)" color="danger">
            <ion-icon slot="icon-only" name="trash-sharp" size="small"></ion-icon>
          </ion-button>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-slides [options]="slideOpts">
              <ion-slide *ngFor="let image of img.media.images; let i = index;">
                  <ion-button class="img-btn" (click)="selectMediaAction(img, $event, i)">
                      <img [src]="safeImage(img.media, i)" slot="end"/>
                  </ion-button>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="img.expanded">
          <ion-col size="12">
            <p class="ion-text-wrap description">
              {{img.media.description}}
            </p>
          </ion-col>
          <ion-col *ngFor="let use of img.usage"
            class="ion-text-center ion-no-padding">
              <ion-button size="small" fill="clear"
                  (click)="goToWorkoutDay(use, $event)">
                <ion-icon slot="icon-only" name="walk-sharp"></ion-icon>
              </ion-button >
            </ion-col>
            <ion-col>
              <ion-label *ngIf="!img.usage || img.usage.length === 0" color="light">
                Exercise not used in any workout!
              </ion-label>
            </ion-col>
        </ion-row>
      </div>
   </ion-row>
  </ion-grid>

</ion-content>

<ion-footer *ngIf="IsMobile">
  <ion-toolbar id=toolbarInFooter>
    <ion-button fill="clear" expand="full"
      (click)="captureImage()">
      <ion-icon slot="start" name="camera-sharp"></ion-icon>
      Add Image</ion-button>
  </ion-toolbar>
</ion-footer>