<ion-header>
  <ion-toolbar>
    <ion-title>
      Exercises
    </ion-title>
  </ion-toolbar>

  <ion-toolbar id="buttons">

      <ion-item lines="none" >
        <ion-toggle [(ngModel)]="useFilter" slot="start" >
        </ion-toggle>

        <ion-button slot="start"
          [disabled]="!useFilter" fill="clear"
          (click)="selectMuscle()">
          <ion-label slot="start">
            Filter by
          </ion-label>
          <ion-icon slot="icon-only" name="body-sharp"></ion-icon>
          <ion-badge slot="start">
            {{filteredMusclesCount}}
          </ion-badge>
          <ion-label slot="end">
            Muscles
          </ion-label>
      </ion-button>

      </ion-item>

  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-list lines="none">

    <ion-item *ngFor="let img of filteredImages">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="9">

            <ion-button fill="outline" expand="full"
              (click)="editImageName($event, img)">
              <p class="ion-text-wrap">
                {{img.media.name}}
              </p>
            </ion-button>

          </ion-col>
          <ion-col size="3">
            <ion-button fill="clear" (click)="setMuscle(img.media)">
              <ion-icon slot="icon-only" name="body-sharp"></ion-icon>
              <ion-badge *ngIf="img.media.muscles.length">
                {{img.media.muscles.length}}
              </ion-badge>
          </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="expandItem(img, $event)">
              <ion-item>
                <img [src]="safeImage(img.media)" slot="start"/>
                <app-expandable expandHeight="100px"
                  [expanded]="img.expanded" slot="start">

                  <ion-row class="ion-justify-content-start">
                    <ion-button fill="clear" [disabled]="img.usage.length > 0"
                    (click)="deleteImage(img.media)" color="danger">
                    <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
                    </ion-button>
                    <ion-button *ngFor="let use of img.usage" size="small" fill="clear"
                        (click)="goToWorkoutDay(use, $event)">
                        <ion-icon slot="icon-only" name="walk-sharp"></ion-icon>
                    </ion-button>
                  </ion-row>

                </app-expandable>
              </ion-item>
            </ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer *ngIf="IsMobile">
  <ion-toolbar id=toolbarInFooter>
    <ion-button fill="clear" expand="full"
      (click)="selectImage()">
      <ion-icon slot="start" name="camera-sharp"></ion-icon>
      Select Image</ion-button>
  </ion-toolbar>
</ion-footer>