<ion-list>
    <ion-item>
        <ion-label>Weight:</ion-label>
        <ion-input type="number" pattern="[0-9]*"
            [(ngModel)]="set.weight"
            (change)="UpdateSet()"
        ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Weight Unit:</ion-label>
        <ion-select interface="alert"
            [(ngModel)]="set.weightUnit"
            (ionChange)="UpdateSet()">
            <ion-select-option *ngFor="let weightUnit of weightUnits"
                value={{weightUnit}}>
                {{weightUnit}}
            </ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Reps:</ion-label>
        <ion-input type="number" pattern="[0-9]*"
            [(ngModel)]="set.reps"
            (change)="UpdateSet()">
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Time (seconds):</ion-label>
        <ion-input type="number" pattern="[0-9]*"
            [(ngModel)]="set.time"
            (change)="UpdateSet()">
        </ion-input>
    </ion-item>
</ion-list>
