<ion-list>
    <ion-item>
        <ion-label>Weight:</ion-label>
        <ion-input type="number" pattern="[0-9]*"
            [(ngModel)]="rep.weight"
            (change)="UpdateRep()"
        ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Weight Unit:</ion-label>
        <ion-select interface="popover"
            [(ngModel)]="rep.weightUnit"
            (ionChange)="UpdateRep()">
            <ion-select-option *ngFor="let weightUnit of weightUnits"
                value={{weightUnit}}>
                {{weightUnit}}
            </ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Times:</ion-label>
        <ion-input type="number" pattern="[0-9]*"
            [(ngModel)]="rep.times"
            (change)="UpdateRep()">
    </ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Seconds:</ion-label>
        <ion-input type="number" pattern="[0-9]*"
            [(ngModel)]="rep.seconds"
            (change)="UpdateRep()">
        </ion-input>
    </ion-item>
</ion-list>
