ion-item {
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --padding-start: 12px;
    --padding-end: 12px;
    --background: var(--ion-color-warning);
}
ion-select {
    font-size: 14px;
}
ion-label {
    font-size: 17px!important;
}