<ion-list>
  <ion-item>
      <ion-label>Weight Type</ion-label>
      <ion-select interface="popover"
          [(ngModel)]="exercise.typeOfWeight"
          (ionChange)="updateExercise()">
          <ion-select-option *ngFor="let weightType of weightTypes"
              value={{weightType}}>
              {{weightType}}
          </ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
      <ion-label>Grip Width</ion-label>
      <ion-select interface="popover"
          [(ngModel)]="exercise.theGrip.width"
          (ionChange)="updateExercise()">
          <ion-select-option *ngFor="let gripWidth of gripWidths"
              value={{gripWidth}}>
              {{gripWidth}}
          </ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item >
      <ion-label>Grip Type</ion-label>
      <ion-select interface="popover"
          [(ngModel)]="exercise.theGrip.typeOfGrip"
          (ionChange)="updateExercise()">
          <ion-select-option *ngFor="let gripType of gripTypes"
              value={{gripType}}>
              {{gripType}}
          </ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
      <ion-label>Speed</ion-label>
      <ion-select interface="popover"
          [(ngModel)]="exercise.repSpeed"
          (ionChange)="updateExercise()">
          <ion-select-option *ngFor="let speed of repSpeeds"
              value={{speed}}>
              {{speed}}
          </ion-select-option>
      </ion-select>
  </ion-item>
</ion-list>
