<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>

  <ion-toolbar id="second">
    <ion-segment (ionChange)="segmentChanged($event.detail.value)"
      value={{selectedSegment}} >
      <ion-segment-button value="themes" layout="icon-start">
        <ion-label>Themes</ion-label>
        <ion-icon name="color-palette-sharp"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="workouts" layout="icon-start">
        <ion-label>Workouts</ion-label>
        <ion-icon name="walk-sharp"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="selectedSegment==='workouts'" lines="none">

    <ion-item>
      <ion-button expand="full" (click)="presentLoginModal()"
        fill="clear">
        <ion-icon slot="icon-only" name="person-sharp"></ion-icon>
        <ion-label>
          Account
        </ion-label>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="resetData()"
        fill="clear">
        <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
        <ion-label>
          Reset Workout Data
        </ion-label>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="selectedSegment==='themes'"
      class="ion-no-padding">
    <ion-radio-group value={{selectedTheme}}
      (ionChange)="themeSelected($event.detail.value)">
      <ion-item *ngFor='let theme of themes'>
        <ion-label>{{theme.theTheme.name}}</ion-label>
        <ion-radio slot="start"
          value={{theme.theTheme.name}}>
        </ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-grid *ngIf="selectedSegment==='themes'">
    <ion-row>
      <ion-col class="ion-text-center">
        <img src={{getSelectedThemeImage(1)}}>
      </ion-col>
      <ion-col class="ion-text-center">
        <img src={{getSelectedThemeImage(2)}}>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>