ion-toolbar#second {
    --background: var(--ion-color-tertiary);
}

ion-list {
    padding: 0px;
    margin-left: 10px;
    margin-top: 1px;
    margin-right: 10px;
    margin-bottom: 5px;

    ion-list-header {
        --background: var(--ion-color-primary);
        ion-label.headerLabel {
            margin-top: 6px;
            color: var(--ion-color-secondary);
        }
    }

    ion-item {
        --background: var(--ion-color-primary);
        --background-hover: var(--ion-color-danger);
        ion-label {
            color: var(--ion-color-light);
        }
        ion-radio {
            --color-checked: var(--ion-color-tertiary);
            --color: var(--ion-color-light);
        }

        &.buttonItem {
            --background: var(--ion-color-tertiary);
            button {
                --color: var(--ion-color-light);
                width: 100%;

                ion-label {
                    font-size: medium;
                    margin: 10px;
                }

                ion-icon {
                    color: var(--ion-color-danger);
                }
            }
        }

        &.itemNoPadding {
            --padding-start: 0px;
            --padding-end: 0px;
            --inner-padding-end: 0px;
        }
    }
}

img {
    max-height: 100%;
}

ion-toolbar {
    ion-segment {
        background: var(--ion-color-primary);

        ion-segment-button {
            --background-checked: var(--ion-color-primary-tint);
            --color: var(--ion-color-tertiary);
            --color-checked: var(--ion-color-tertiary);
        }
    }
}