<ion-header>
  <ion-toolbar>
    <ion-title>Select Exercise</ion-title>
  </ion-toolbar>

  <ion-toolbar id="second">

    <ion-buttons slot="start">
      <ion-item lines="none">
        <ion-label color="light">Filter by Muscles</ion-label>
        <ion-checkbox [(ngModel)]="useFilter" color="primary">
        </ion-checkbox>
      </ion-item>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [disabled]="!useFilter" fill="clear"
        (click)="selectMuscle()" color="light">
        <ion-icon slot="end" name="body-sharp"></ion-icon>
        <ion-badge slot="end">{{filteredMusclesCount}}</ion-badge>
        Select Muscles
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">

    <ion-item *ngFor="let img of getFilteredImages()">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-input type='text' class="ion-text-wrap editInputSec"
              [ngModel]="img.media.name"
              placeholder="Exercise Name"
              (change)="setImageName($event.target.value, img)">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none" >
              <img [src]="safeImage(img.media)" slot="start"/>
              <ion-checkbox slot="end" [(ngModel)]="img.isSelected"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar id="second">

    <ion-buttons slot="start">

      <ion-button *ngIf="!haveWorkoutsBeenReset" fill="clear"
        (click)="addExercise()"
        [disabled]="isAddExerciseDisabled">
        <ion-icon slot="start" name="add-circle-sharp"></ion-icon>
        Add Exercise(s)
      </ion-button>

      <ion-button *ngIf="haveWorkoutsBeenReset" fill="clear"
        (click)="goBack()">
        <ion-icon slot="start" name="arrow-back-sharp"></ion-icon>
        Back to Workouts
      </ion-button>

    </ion-buttons>

    <ion-buttons slot="end">
      <ion-item lines="none">
        <ion-label color="light">As a Superset</ion-label>
        <ion-checkbox [(ngModel)]="isSet" color="primary">
        </ion-checkbox>
      </ion-item>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
