<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Select Exercise</ion-title>
  </ion-toolbar>

  <ion-toolbar id="buttons">

    <ion-item lines="none" >
      <ion-toggle [(ngModel)]="useFilter" slot="start" >
      </ion-toggle>

      <ion-button slot="start"
        [disabled]="!useFilter" fill="clear"
        (click)="selectMuscle()">
        <ion-label slot="start">
          Filter by
        </ion-label>
        <ion-icon slot="icon-only" name="body-sharp"></ion-icon>
        <ion-badge slot="start">
          {{filteredMusclesCount}}
        </ion-badge>
        <ion-label slot="end">
          Muscles
        </ion-label>
    </ion-button>

    </ion-item>

</ion-toolbar>

</ion-header>

<ion-content>

  <ion-list lines="none">

    <ion-item *ngFor="let img of filteredImages">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-text-center">

            <ion-button fill="outline" expand="full"
              (click)="editImageName($event, img)">
              <p class="ion-text-wrap">
                {{img.media.name}}
              </p>
            </ion-button>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none" >
              <img [src]="safeImage(img.media, 0)" slot="start"/>
              <ion-checkbox slot="end" [(ngModel)]="img.isSelected"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar id="buttons">

    <ion-button fill="clear" expand="full" >

      <ion-button *ngIf="!haveWorkoutsBeenReset" fill="clear" slot="start"
        (click)="addExercise()" expand="full"
        [disabled]="isAddExerciseDisabled">
        <ion-icon slot="start" name="add-circle-sharp"></ion-icon>
        <ion-label slot="start">Add Exercise(s)</ion-label>
      </ion-button>

      <ion-button *ngIf="haveWorkoutsBeenReset" fill="clear" slot="start"
        (click)="goBack()">
        <ion-icon slot="start" name="arrow-back-sharp"></ion-icon>
        <ion-label slot="start">Back to Workouts</ion-label>
      </ion-button>

      <ion-toggle [(ngModel)]="isSet" slot="end" >
      </ion-toggle>
      <ion-label slot="start">MultiSet</ion-label>

    </ion-button>

</ion-toolbar>

</ion-footer>
