<ion-list>
  <ion-item button (click)="showUsage()">
      Show Usage in Workouts
      <ion-icon slot="start" name="walk-sharp" color="primary"></ion-icon>
  </ion-item>
  <ion-item button (click)="viewPrev()">
      View Previous image
      <ion-icon slot="start" name="arrow-back-circle-sharp" color="primary"></ion-icon>
  </ion-item>
  <ion-item button (click)="viewLarge()">
      View Larger
      <ion-icon slot="start" name="expand-sharp" color="primary"></ion-icon>
</ion-item>
  <ion-item button (click)="viewNext()">
      View Next image
      <ion-icon slot="start" name="arrow-forward-circle-sharp" color="primary"></ion-icon>
  </ion-item>
</ion-list>