<ion-list>
    <ion-list-header>
        <ion-label>Edit Action</ion-label>
    </ion-list-header>
    <ion-item button (click)="insertImage()" *ngIf="!isDefaultImage">
        Add Image
        <ion-icon slot="start" name="add-circle-sharp" color="primary"></ion-icon>
    </ion-item>
    <ion-item button (click)="removeImage()" *ngIf="!isDefaultImage && imagesLength > 1">
        Remove this Image
        <ion-icon slot="start" name="remove-circle-sharp" color="primary"></ion-icon>
    </ion-item>
    <ion-item button (click)="moveAhead()" [disabled]="selectedIndex===imagesLength-1">
        Move Image Forward
        <ion-icon slot="start" name="chevron-forward-circle-sharp" color="primary"></ion-icon>
    </ion-item>
    <ion-list-header>
        <ion-label>View Action</ion-label>
    </ion-list-header>
    <ion-item button (click)="showUsage()" *ngIf="!isExpanded">
        Show Usage in Workouts
        <ion-icon slot="start" name="walk-sharp" color="primary"></ion-icon>
    </ion-item>
    <ion-item button (click)="showUsage()" *ngIf="isExpanded">
        Hide Usage in Workouts
        <ion-icon slot="start" name="walk-sharp" color="primary"></ion-icon>
    </ion-item>

    <ion-item button (click)="viewLarge()">
        View Larger
        <ion-icon slot="start" name="expand-sharp" color="primary"></ion-icon>
    </ion-item>

</ion-list>