ion-fab {
    ion-fab-button {
      --background: var(--ion-color-light);
      --background-activated: var(--ion-color-danger);
      --background-hover: var(--ion-color-dark);
      --background-hover-opacity: 0.25;
      --background-focused: var(--ion-color-secondary);
      --color: var(--ion-color-dark);
      --color-activated: var(--ion-color-secondary);
      --color-hover: var(--ion-color-light);
      ion-icon {
        color: var(--ion-color-dark);
      }
    }
  }

ion-slides {
    height: 100%;
    --bullet-background-active: var(--ion-color-primary);

    ion-slide {
        app-workout-day {
            height: 100%;
            width: 100%;
        }
    }
}
