<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-fab edge slot="fixed"
      vertical="top" horizontal="end"
        #fabWorkout id="fabWorkout">
        <ion-fab-button size="small"
          (click)="startWorkoutToggler()" color="tertiary">
          <ion-icon name="play"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="start" class="animated fadeInRight">
          <ion-fab-button size="small"
          (click)="stopWorkout()" color="warning">
            <ion-icon name="pause"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>

    </ion-fab>

    <ion-fab
      vertical="bottom" horizontal="end"
        #fabEdit id="fabEdit">
        <ion-fab-button size="small"
        (click)="editWorkoutToggler()" color="tertiary">
          <ion-icon name="construct"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="start" class="animated fadeInRight" >
          <ion-fab-button size="small" [disabled]="isLastDayActive"
          (click)="moveForwardWorkoutDay($event)" color="warning">
          <ion-icon name="arrow-forward"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small" [disabled]="isFirstDayActive"
            (click)="moveBackWorkoutDay($event)" color="warning">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-fab-button>

          <ion-fab-button size="small" [disabled]="isOneDayOnly"
              (click)="deleteWorkoutDay($event)" color="warning">
              <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small"
            (click)="addWorkoutDay($event)" color="warning">
            <ion-icon name="today"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small"
            (click)="selectExerciseToAdd($event)" color="warning">
            <ion-icon name="walk"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>

    </ion-fab>

  <ion-slides #slider pager='true'
    [options]="slideOpts"
    (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let day of days">
        <app-workout-day
          [dayId]="day"
          [displayMode]="DisplayMode"
        >
      </app-workout-day>
   </ion-slide>
  </ion-slides>

</ion-content>
