ion-list {
    margin: 0px;
    padding: 0px;
}

ion-item {
    padding-left: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;

    ion-row {
        width: 100%;
    }
}

ion-grid {
    padding: 0px;
}

ion-row {
    --ion-padding: 4px;
}

ion-row#repsRow {
    margin-bottom: 2px;
}

ion-col#colRep {
    margin-right: 4px;
    background: var(--ion-color-tertiary);
}

.divRep {
    color: var(--ion-color-light);
}

.divActive {
    background: var(--ion-color-primary);
}

.divNonActive {
    background: var(--ion-color-tertiary);
}

.check {
    font-size: x-large;
    color: var(--ion-color-primary);
}

img {
    height: 80px;
    width: 80px;
    border: 2px;
    border-style: solid;
}

ion-label {
    margin: 0px;
    padding: 4px;
    font-size: 17px;
    color: var(--ion-color-dark) !important;
}

h2 {
    font-size: 16px;
    margin: 0px 0px 2px 0px;
    font-weight: normal;
}

h3 {
    color: var(--ion-color-dark);
    font-size: 14px;
    margin: 0px 0px 2px 0px;
    padding: 3px;
}

h4 {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    color: var(--ion-color-light);

    &.times {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 24px;
    }

    &.seconds {
        margin-bottom: 3px;
    }
}

div.seconds {
    height: 24px;
}

ion-buttons {
    width: 100%
}

.et-button {
    --color: var(--ion-color-tertiary);
    --background: var(--ion-color-secondary);
}

@keyframes mymove {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeinout {

    0%,
    100% {
        opacity: 0.25;
    }

    50% {
        opacity: 1;
    }
}

ion-input {
    color: var(--ion-color-dark) !important;

    input {
        text-align: center;
        margin: 4px !important;
    }
}

ion-textarea {
    --color: var(--ion-color-dark);
    --padding-top: 4px;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px !important;
}

ion-row.editSets {
    margin-bottom: 2px;
}
ion-col.editSets {
    background: var(--ion-color-tertiary);
    margin-left: 4px;
    border: 1px;
    border-style: solid;
    border-color: var(--ion-color-primary-contrast);
}
ion-button {
    --padding-start: 0px;
    --padding-end: 0px;
    height: 100%;
    div.editSets {
        h4 {
            display: block;
          }
    }
}

ion-button#img-btn {
    height: auto;
    margin: 0px;
}

.bordered {
    color: var(--ion-color-light);
    text-align: center;
}

ion-range {
    --knob-background: var(--ion-color-tertiary);
    --bar-background: var(--ion-color-medium);
    --bar-background-active: var(--ion-color-secondary);
}