ion-grid {
    padding: 0px;
}
ion-row {
    --ion-padding: 4px;
}
ion-item#item-with-image-and-button {
    display: inline-block;
    position: relative;
    ion-button[bottom] {
        position: absolute;
        left: calc(100% - 27px);
        top: calc(100% - 29px);
    }
};
ion-col.col-with-image-and-button {
    height: 94px;
    text-align: center;
    ion-button[up] {
        position: absolute;
        left: calc(100% - 18px);
        top: 27px;
    }
}
ion-col#col-rep {
    margin: 2px 0px 2px 0px;
    padding: 4px 5px 4px 5px;
}
ion-list {
    margin: 0px;
    padding: 0px;
}
ion-item {
    padding-left: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
};
img {
    height: 80px;
    width: 80px;
    margin: 2px 1px;
}
ion-label {
    margin: 0px;
    padding: 4px;
    font-size: 17px;
    color: var(--ion-color-dark)!important;
}

h2 {
    font-size: 16px;
    margin: 0px 0px 2px 0px;
    font-weight: normal;
}
h3 {
    color: var(--ion-color-dark);
    font-size: 14px;
    margin: 0px 0px 2px 0px;
    padding: 0px;
}
h4 {
    font-size: 14px;
    margin: 0px 0px 2px 0px;
    padding: 0px;
}
.activeRep {
    background: var(--ion-color-light);
    color: var(--ion-color-dark);
}
.nonActiveRep {
    background: var(--ion-color-secondary);
    color: var(--ion-color-danger);
}
.editRep {
    background: var(--ion-color-light);
    color: var(--ion-color-danger);
}
.noTopMargin {
    margin-top: 0px;
}
.noBottomMargin {
    margin-bottom: 0px;
}
ion-buttons {
    width: 100%
}
.et-button {
    --color: var(--ion-color-danger);
    --background: var(--ion-color-secondary);
}
.fadeOutAndIn {
        -webkit-animation: fadeinout 4s linear infinite;
        animation: fadeinout 4s linear infinite;
        opacity: 1;
    }
@-webkit-keyframes fadeinout {
    0%,100% { opacity: 1; }
    50% { opacity: 0.25; }
}
@keyframes fadeinout {
    0%,100% { opacity: 0.25; }
    50% { opacity: 1; }
}

ion-input {
    color: var(--ion-color-dark)!important;
    input {
        text-align: center;
        margin: 4px!important;
    }
}
ion-button {
    --padding-end: 2px;
    --padding-start: 2px;
}
.bordered {
    background: var(--ion-color-secondary);
    color: var(--ion-color-dark);
    margin: 2px 0px 2px 0px;
    text-align: center;
}
ion-range {
    --knob-background: var(--ion-color-tertiary);
    --bar-background: var(--ion-color-medium);
    --bar-background-active: var(--ion-color-secondary);
}
