ion-list {
    margin: 0px;
    padding: 0px;

    ion-item {
        padding-left: 0px;
        --inner-padding-end: 0px;
        --padding-start: 0px;

        ion-row {
            width: 100%;
        }
    }
}

ion-grid {
    padding: 0px;

    ion-row {
        --ion-padding: 4px;
        &.buttons {
            margin: 8px;
        }
        ion-col {
            ion-input {
                color: var(--ion-color-light);
                text-align: center;
                --padding-end: 0px;
                input {
                    margin: 4px !important;
                }
            }

            ion-textarea {
                --color: var(--ion-color-light);
                margin-bottom: 4px;
                --padding-top: 4px;
                --padding-bottom: 4px;
                --padding-end: 4px;
                --padding-start: 4px !important;
            }
        }
        &#repsRow {
            margin-bottom: 2px;

            ion-col {
                margin-right: 2px;
                margin-left: 2px;

                div {
                    &.divRep {
                        h4 {
                            color: var(--ion-color-primary);
                        }
                    }

                    &.divActive {
                        background: var(--ion-color-primary);
                    }

                    &.divNonActive {
                        background: var(--ion-color-secondary);
                    }
                }
            }
        }

        &.editSets {
            margin-bottom: 2px;
            margin-top: 6px;
            ion-col.editSets {
                background: var(--ion-color-secondary);

                margin-left: 4px;
                border: 1px;
                border-style: solid;
                border-color: var(--ion-color-tertiary);

                ion-button {
                    div.editSets {
                        h4 {
                            display: block;
                            color: var(--ion-color-primary);
                            font-size: 17px;
                        }
                    }
                }

            }
        }
    }
}

ion-item {

    ion-range {
        --knob-background: var(--ion-color-tertiary);
        --bar-background: var(--ion-color-light);
        --bar-background-active: var(--ion-color-secondary);
        --pin-color: var(--ion-color-light)!important;
        div.range-pin {
            color: var(--ion-color-light)!important;
        }
        ion-icon {
            color: var(--ion-color-light);
        }
    }
}

ion-label {
    font-size: medium !important;
    margin: 0px;
    padding: 4px;
    max-width: unset !important;

    h2 {
        margin: 0px 0px 2px 0px;
        color: var(--ion-color-secondary);
    }
}

h3 {
    color: var(--ion-color-secondary);
    margin: 0px 0px 2px 0px;
    padding: 3px;
    font-size: large;
    word-break: break-word;
}

h4 {
    margin: 0px;
    padding: 0px;
    color: var(--ion-color-light);

    &.comlpeted {
        text-decoration: line-through;
    }
}

ion-button {
    --padding-start: 0px;
    --padding-end: 0px;
    --color: var(--ion-color-tertiary);
    height: 100%;

    &.img-btn {
        height: auto;
        margin: 0px;
        width: 80px;
        img {
            width: 100%;
            height: auto;
            border: 2px;
            border-radius: 8px;
            border-style: solid;
            border-color: var(--ion-color-tertiary);
        }
    }

    &.et-button {
        font-size: large;
        --color: var(--ion-color-tertiary);
        --background: var(--ion-color-secondary);
    }
}

@keyframes mymove {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeinout {

    0%,
    100% {
        opacity: 0.25;
    }

    50% {
        opacity: 1;
    }
}