ion-list {
    padding: 0px;

    ion-list-header {
        --background: var(--ion-color-secondary);
        ion-label.headerLabel {
            margin-top: 6px;
            color: var(--ion-color-dark);
            &.currentVersion {
                color: var(--ion-color-danger);
            }
        }
    }

    ion-item {
        --background: var(--ion-color-secondary);
        --background-hover: var(--ion-color-danger);
        ion-label {
            color: var(--ion-color-dark);
            &.striked {
                text-decoration: line-through;
            }
        }

        &.itemNoPadding {
            --padding-start: 0px;
            --padding-end: 0px;
            --inner-padding-end: 0px;
        }
    }
}