<div class="inner-content">

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-label slot="start">
          Close
        </ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Release Notes</ion-title>
  </ion-toolbar>

  <ion-list class="ion-no-padding" lines="none">
    <ion-item *ngFor="let version of expandableReleaseNotes" class="itemNoPadding">
      <ion-grid class="ion-no-padding outer">
        <ion-row>
          <ion-col>
            <ion-label class="headerLabel"
            [ngClass]="{'currentVersion': isCurrentVersion(version)}">
              {{getVersionTitle(version)}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let feature of version.features" class="ion-align-items-center">
          <ion-col>
            <ion-grid class="ion-no-padding">
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <ion-button fill="clear"
                    (click)="feature.isExpanded = !feature.isExpanded" >
                    <ion-icon [name]="feature.isExpanded ? 'caret-up-sharp' :'caret-down-sharp'"></ion-icon>
                    <ion-label [ngClass]="{'striked': !isFeatureEnabled(feature)}">
                      {{getFeatureTitle(feature)}}
                    </ion-label>
                  </ion-button>
                </ion-col>
              </ion-row >
              <ion-row *ngIf="feature.isExpanded" class="ion-align-items-center">
                <ion-col>
                  <ion-label class="ion-text-wrap desc">
                    {{feature.description}}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</div>
