<ion-card mode="md">
  <ion-card-header>

    <ion-card-title color="dark" class="ion-text-center">

      <ion-input [readonly]="IsDisplayMode" type="text"
        [ngClass]="{ 'editInput': IsEditMode }"
        placeholder="Enter workout name here..."
        [(ngModel)]="name"
        (change)="workoutChanged()">
      </ion-input>
    </ion-card-title>

  </ion-card-header>

 <ion-card-content>

    <ion-textarea [readonly]="IsDisplayMode"
      class="ion-text-wrap"
      [ngClass]="{ 'editInput': IsEditMode }"
      autoGrow="true" maxlength=256
      placeholder="Enter workout description here..."
      [(ngModel)]="description"
      (change)="workoutChanged()">
    </ion-textarea>

    <ion-list *ngIf="daysCount">
      <ion-item *ngIf="IsDisplayMode" (click)="goToWorkoutDays()" >
        <ion-label>Days...</ion-label>
        <ion-badge slot="start">{{ daysCount }}</ion-badge>
      </ion-item>
      <ion-item *ngIf="IsEditMode">
        <ion-badge slot="start">{{ daysCount }}</ion-badge>
        <ion-label>Days...</ion-label>
        <ion-button fill="clear" color="light" slot="end"
            (click)="deleteWorkout()">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="light" slot="end"
            (click)="exportWorkout()">
            <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="IsEditMode">
          <ion-label><small>{{workoutId}}</small></ion-label>
          <ion-button *ngIf="dataService.isMobile"
            fill="clear" bottom color="secondary" slot="end"
            (click)="copyWorkoutId()">
          <ion-icon slot="icon-only" name="copy"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-card>
