ion-card {
    border-radius: 16px;
    --background: var(--ion-color-primary);
    margin-bottom: 4px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;

    ion-card-header {
        padding-left: 20px;
        padding-right: 20px;

        ion-card-title {

            ion-row {
                --background: var(--ion-color-primary);
                --color: var(--ion-color-light);
                ion-input {
                    --color: var(--ion-color-light);
                    font-size: 20px;
                    font-weight: bold;
                    --padding-end: 0px;
                    --padding-start: 0px;
                    margin:0px;
                }
                ion-icon {
                    color: var(--ion-color-light);
                }
            }
        }
    }

    ion-card-content {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;

        ion-button {
            height: auto;
            --padding-end: 0px;
            --padding-start: 0px;
            --border-color: var(--ion-color-tertiary);
            p {
                color: var(--ion-color-light);
                font-size: larger;
                height: auto;
            }
        }

        ion-grid {
            margin-top: 36px;
            padding: 0px;

            ion-row {
                background: var(--ion-color-secondary);
                border-color: var(--ion-color-tertiary);
                border-style: solid;
                border-width: 2px;
                &.allRound {
                    border-radius: 8px;
                }

                &.topRound {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    border-bottom-style: unset;
                }

                &.bottomRound {
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    border-top-style: unset;
                }

                ion-col {
                    --background: var(--ion-color-secondary);
                    padding-right: 10px;
                    padding-left: 10px;

                    ion-label {
                        --color: var(--ion-color-tertiary);
                        max-width: none;
                    }
                }

                ion-badge {
                    color: var(--ion-color-light);
                    margin-top: 4px;
                }

                ion-button {
                    --background: var(--ion-color-secondary);
                    --color: var(--ion-color-dark);

                    &.days {
                        --border-color: var(--ion-color-tertiary);
                        --border-radius: 6px;
                        --color: var(--ion-color-light);
                        --background: var(--ion-color-primary);
                        --padding-top: 8px;
                        --padding-bottom: 8px;
                        --padding-start: 8px;
                        --padding-end: 8px;
                    }

                    ion-icon {
                        color: var(--ion-color-dark);
                    }
                }
            }
        }
    }
}