<ion-card mode="md">
  <ion-card-header>

    <ion-card-title color="dark" class="ion-text-center">

      <ion-input [readonly]="IsDisplayMode" type="text"
        [ngClass]="{ 'editInputSec': IsEditMode }"
        placeholder="Enter workout name here..."
        [(ngModel)]="name"
        (change)="workoutChanged()">
      </ion-input>
    </ion-card-title>

  </ion-card-header>

 <ion-card-content>

    <ion-textarea [readonly]="IsDisplayMode" type="text"
      class="ion-text-wrap"
      [ngClass]="{ 'editInputSec': IsEditMode }"
      maxlength="256" rows="3"
      placeholder="Enter workout description here..."
      [(ngModel)]="description"
      (change)="workoutChanged()">
    </ion-textarea>

    <ion-list *ngIf="daysCount">
      <ion-row *ngIf="IsDisplayMode" >
        <ion-col class="ion-text-center"
          *ngFor="let day of workout.days; let i = index;">
        <ion-button fill="clear"
          (click)="goToWorkoutDay(day)">
          <ion-badge slot="start">Day {{ i+1 }}</ion-badge>
        </ion-button>
      </ion-col>
      </ion-row>
      <ion-item *ngIf="IsEditMode">
        <ion-badge slot="start">{{ daysCount }} Days</ion-badge>
        <ion-button fill="clear" color="light" slot="end"
            (click)="deleteWorkout()">
            <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="light" slot="end"
            (click)="exportWorkout()">
            <ion-icon slot="icon-only" name="cloud-upload-sharp"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="IsEditMode">
          <ion-label><small>{{workoutId}}</small></ion-label>
          <ion-button *ngIf="dataService.isMobile"
            fill="clear" bottom color="secondary" slot="end"
            (click)="copyWorkoutId()">
          <ion-icon slot="icon-only" name="copy-sharp"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-card>
