<ion-card mode="md">
  <ion-card-header>

    <ion-card-title  class="ion-text-center">
      <ion-input [readonly]="IsDisplayMode" type="text"
        [ngClass]="{ 'editInputSec': IsEditMode }"
        placeholder="Enter workout name here..."
        [(ngModel)]="name"
        (change)="workoutChanged()">
      </ion-input>
    </ion-card-title>

  </ion-card-header>

 <ion-card-content>

    <p *ngIf="IsDisplayMode"
      class="ion-text-wrap">
      {{description}}
    </p>
    <ion-textarea *ngIf="IsEditMode" type="text"
      class="ion-text-wrap editInputSec"
      maxlength="256" autoGrow="true"
      placeholder="Enter workout description here..."
      [(ngModel)]="description"
      (change)="workoutChanged()">
    </ion-textarea>

    <ion-grid *ngIf="daysCount">
      <ion-row *ngIf="IsDisplayMode" class="allRound">
        <ion-col class="ion-text-center"
          *ngFor="let day of workout.days; let i = index;">
          <ion-button fill="outline" class="tall"
            (click)="goToWorkoutDay(day)">
            <ion-icon slot="start" name="today-outline"></ion-icon>
              {{ i + 1 }}
          </ion-button>
      </ion-col>
      </ion-row>
      <ion-row *ngIf="IsEditMode" class="ion-align-items-center topRound">

        <ion-col class="ion-text-center">
          <ion-badge>{{ daysCount }} Days</ion-badge>
        </ion-col>

        <ion-col class="ion-text-center">
          <ion-button fill="clear"
            (click)="exportWorkout()">
            <ion-icon slot="icon-only" name="cloud-upload-sharp"></ion-icon>
        </ion-button>

        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button fill="clear"
            (click)="deleteWorkout()">
            <ion-icon slot="icon-only"
              name="trash-sharp" >
            </ion-icon>
        </ion-button>
        </ion-col>

      </ion-row>
      <ion-row *ngIf="IsEditMode" class="bottomRound">
        <ion-col>
          <ion-item>
            <ion-label><small>{{workoutId}}</small></ion-label>
            <ion-button *ngIf="dataService.isMobile"
              fill="clear" slot="end"
              (click)="copyWorkoutId()">
              <ion-icon slot="icon-only" name="copy-sharp"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-card-content>
</ion-card>
