ion-card {
    border-radius: 16px;
    --background: var(--ion-color-primary);
    margin-bottom: 4px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;

    ion-card-header {
        padding-left: 20px;
        padding-right: 20px;

        ion-card-title {
            --color: var(--ion-color-light);

            ion-input {
                font-size: 20px;
                font-weight: bold;
                --padding-end: 0px;
                --padding-start: 0px;
            }
        }
    }

    ion-card-content {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;

        p {
            color: var(--ion-color-light);
            font-size: larger;
        }

        ion-textarea {
            color: var(--ion-color-light);
            font-size: larger;
            --padding-start: 8px;
            --padding-end: 8px;
            --margin-bottom: 8px;
        }

        ion-grid {
            margin-top: 6px;
            padding: 0px;

            ion-row {
                background: var(--ion-color-secondary);
                &.allRound {
                    border-radius: 8px;
                }
                &.topRound {
                    border-top-left-radius: 8px;;
                    border-top-right-radius: 8px;;
                }
                &.bottomRound {
                    border-bottom-left-radius: 8px;;
                    border-bottom-right-radius: 8px;;
                }
                ion-item {
                    --background: var(--ion-color-secondary);

                    ion-label {
                        --color: var(--ion-color-tertiary);
                        max-width: none;
                    }
                }

                ion-badge {
                    color: var(--ion-color-tertiary);
                }

                ion-button {
                    --background: var(--ion-color-secondary);
                    --color: var(--ion-color-dark);
                    &.tall {
                        height: 36px;
                        --border-color: var(--ion-color-tertiary);
                        --color: var(--ion-color-light);
                        --background: var(--ion-color-primary);
                        ion-icon {
                            color: var(--ion-color-light);
                        }
                    }
                    ion-icon {
                        color: var(--ion-color-dark);
                    }
                }
            }
        }


    }
}