
@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Jura-Book.ttf');
}
@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/Jura-DemiBold.ttf');
}
