// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import './fonts.scss';
:root {
  .Pink-Purple {
  --pri: #1d1123;
  --sec: #ebccc0;
  --ter: #d72991;
  --dan: #a8dd15;
  --dar: #420f29;
  --med: #996781;
  --lig: #faebf3;

  --ion-color-primary: #1d1123;
  --ion-color-primary-rgb: 29,17,35;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #1a0f1f;
  --ion-color-primary-tint: #342939;

  --ion-color-secondary: #ebccc0;
  --ion-color-secondary-rgb: 235,204,192;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #cfb4a9;
  --ion-color-secondary-tint: #edd1c6;

  --ion-color-tertiary: #d72991;
  --ion-color-tertiary-rgb: 215,41,145;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #bd2480;
  --ion-color-tertiary-tint: #db3e9c;

  --ion-color-success: #1d1123;
  --ion-color-success-rgb: 29,17,35;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #1a0f1f;
  --ion-color-success-tint: #342939;

  --ion-color-warning: #ebccc0;
  --ion-color-warning-rgb: 235,204,192;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #cfb4a9;
  --ion-color-warning-tint: #edd1c6;

  --ion-color-danger: #a8dd15;
  --ion-color-danger-rgb: 168,221,21;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #94c212;
  --ion-color-danger-tint: #b1e02c;

  --ion-color-dark: #420f29;
  --ion-color-dark-rgb: 66,15,41;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #3a0d24;
  --ion-color-dark-tint: #55273e;

  --ion-color-medium: #996781;
  --ion-color-medium-rgb: 153,103,129;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #875b72;
  --ion-color-medium-tint: #a3768e;

  --ion-color-light: #faebf3;
  --ion-color-light-rgb: 250,235,243;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #dccfd6;
  --ion-color-light-tint: #fbedf4;
  }
  .Red-Blue {
  --pri: #013576; // suc
  --sec: #d7d7fc; // war
  --ter: #ca0343;
  --dan: #df801a;
  --dar: #111014;
  --med: #767381;
  --lig: #f0efff;

  --ion-color-primary: #013576;
  --ion-color-primary-rgb: 1,53,118;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #012f68;
  --ion-color-primary-tint: #1a4984;

  --ion-color-secondary: #d7d7fc;
  --ion-color-secondary-rgb: 215,215,252;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #bdbdde;
  --ion-color-secondary-tint: #dbdbfc;

  --ion-color-tertiary: #ca0343;
  --ion-color-tertiary-rgb: 202,3,67;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #b2033b;
  --ion-color-tertiary-tint: #cf1c56;

  --ion-color-success: #013576;
  --ion-color-success-rgb: 1,53,118;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #012f68;
  --ion-color-success-tint: #1a4984;

  --ion-color-warning: #d7d7fc;
  --ion-color-warning-rgb: 215,215,252;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #bdbdde;
  --ion-color-warning-tint: #dbdbfc;

  --ion-color-danger: #df801a;
  --ion-color-danger-rgb: 223,128,26;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #c47117;
  --ion-color-danger-tint: #e28d31;

  --ion-color-dark: #111014;
  --ion-color-dark-rgb: 17,16,20;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #0f0e12;
  --ion-color-dark-tint: #29282c;

  --ion-color-medium: #767381;
  --ion-color-medium-rgb: 118,115,129;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #686572;
  --ion-color-medium-tint: #84818e;

  --ion-color-light: #f0efff;
  --ion-color-light-rgb: 240,239,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d3d2e0;
  --ion-color-light-tint: #f2f1ff;
  }
  .Yellow-Red-Brown {
  --pri: #312c2b; // suc
  --sec: #d5b84a; // war
  --ter: #940906;
  --dan: #109c10;
  --dar: #282320;
  --med: #8b877f;
  --lig: #e0dbd0;

  --ion-color-primary: #312c2b;
  --ion-color-primary-rgb: 49,44,43;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2b2726;
  --ion-color-primary-tint: #464140;

  --ion-color-secondary: #d5b84a;
  --ion-color-secondary-rgb: 213,184,74;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #bba241;
  --ion-color-secondary-tint: #d9bf5c;

  --ion-color-tertiary: #940906;
  --ion-color-tertiary-rgb: 148,9,6;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #820805;
  --ion-color-tertiary-tint: #9f221f;

  --ion-color-success: #312c2b;
  --ion-color-success-rgb: 49,44,43;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #2b2726;
  --ion-color-success-tint: #464140;

  --ion-color-warning: #940906;
  --ion-color-warning-rgb: 148,9,6;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #820805;
  --ion-color-warning-tint: #9f221f;

  --ion-color-danger: #109c10;
  --ion-color-danger-rgb: 16,156,16;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #0e890e;
  --ion-color-danger-tint: #28a628;

  --ion-color-dark: #282320;
  --ion-color-dark-rgb: 40,35,32;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #231f1c;
  --ion-color-dark-tint: #3e3936;

  --ion-color-medium: #8b877f;
  --ion-color-medium-rgb: 139,135,127;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #7a7770;
  --ion-color-medium-tint: #97938c;

  --ion-color-light: #e0dbd0;
  --ion-color-light-rgb: 224,219,208;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #c5c1b7;
  --ion-color-light-tint: #e3dfd5;
  }
  .Blue {
    --pri: #16233b; // suc
    --sec: #f8deda; // war
    --ter: #0e78ba;
    --dan: #e33434;
    --dar: #1e120d;
    --med: #685c56;
    --lig: #fdece2;

    --ion-color-primary: #16233b;
    --ion-color-primary-rgb: 22,35,59;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #131f34;
    --ion-color-primary-tint: #2d394f;

    --ion-color-secondary: #f8deda;
    --ion-color-secondary-rgb: 248,222,218;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #dac3c0;
    --ion-color-secondary-tint: #f9e1de;

    --ion-color-tertiary: #0e78ba;
    --ion-color-tertiary-rgb: 14,120,186;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #0c6aa4;
    --ion-color-tertiary-tint: #2686c1;

    --ion-color-success: #16233b;
    --ion-color-success-rgb: 22,35,59;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #131f34;
    --ion-color-success-tint: #2d394f;

    --ion-color-warning: #f8deda;
    --ion-color-warning-rgb: 248,222,218;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #dac3c0;
    --ion-color-warning-tint: #f9e1de;

    --ion-color-danger: #e33434;
    --ion-color-danger-rgb: 227,52,52;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #c82e2e;
    --ion-color-danger-tint: #e64848;

    --ion-color-dark: #1e120d;
    --ion-color-dark-rgb: 30,18,13;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1a100b;
    --ion-color-dark-tint: #352a25;

    --ion-color-medium: #68564c;
    --ion-color-medium-rgb: 104,86,76;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #5c4c43;
    --ion-color-medium-tint: #77675e;

    --ion-color-light: #fdece2;
    --ion-color-light-rgb: 253,236,226;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #dfd0c7;
    --ion-color-light-tint: #fdeee5;

  }
  .Asparagus-Wheat-Eggplant {
    --pri: #729c5d; // suc // asparagus
    --sec: #F5E0B7; // war // wheat
    --ter: #5E4955; // eggplant
    --dan: #de100c; // red
    --dar: #080705; // black
    --med: #968c85; // 
    --lig: #D5D5D5; // light gray

    --ion-color-primary: #729c5d;
    --ion-color-primary-rgb: 114,156,93;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #648952;
    --ion-color-primary-tint: #80a66d;

    --ion-color-secondary: #F5E0B7;
    --ion-color-secondary-rgb: 245,224,183;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #d8c5a1;
    --ion-color-secondary-tint: #f6e3be;

    --ion-color-tertiary: #5E4955;
    --ion-color-tertiary-rgb: 94,73,85;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #53404b;
    --ion-color-tertiary-tint: #6e5b66;

    --ion-color-success: #729c5d;
    --ion-color-success-rgb: 114,156,93;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #648952;
    --ion-color-success-tint: #80a66d;

    --ion-color-warning: #F5E0B7;
    --ion-color-warning-rgb: 245,224,183;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #d8c5a1;
    --ion-color-warning-tint: #f6e3be;

    --ion-color-danger: #de100c;
    --ion-color-danger-rgb: 222,16,12;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #c30e0b;
    --ion-color-danger-tint: #e12824;

    --ion-color-dark: #080705;
    --ion-color-dark-rgb: 8,7,5;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #070604;
    --ion-color-dark-tint: #21201e;

    --ion-color-medium: #968c85;
    --ion-color-medium-rgb: 150,140,133;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #847b75;
    --ion-color-medium-tint: #a19891;

    --ion-color-light: #D5D5D5;
    --ion-color-light-rgb: 213,213,213;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #bbbbbb;
    --ion-color-light-tint: #d9d9d9;
  }
  .Gray-Orange {
    --pri: #363636; // suc
    --sec: #c1beb9; // war
    --ter: #E37334;
    --dan: #7334E3;
    --dar: #3E363F;
    --med: #a2a09d;
    --lig: #f5f2eb;

    --ion-color-secondary: #c1beb9;
    --ion-color-secondary-rgb: 193,190,185;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #aaa7a3;
    --ion-color-secondary-tint: #c7c5c0;

    --ion-color-primary: #363636;
    --ion-color-primary-rgb: 54,54,54;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #303030;
    --ion-color-primary-tint: #4a4a4a;

    --ion-color-tertiary: #E25822;
    --ion-color-tertiary-rgb: 226,88,34;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #c74d1e;
    --ion-color-tertiary-tint: #e56938;

    --ion-color-warning: #c1beb9;
    --ion-color-warning-rgb: 193,190,185;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #aaa7a3;
    --ion-color-warning-tint: #c7c5c0;

    --ion-color-success: #363636;
    --ion-color-success-rgb: 54,54,54;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #303030;
    --ion-color-success-tint: #4a4a4a;

    --ion-color-danger: #7334E3;
    --ion-color-danger-rgb: 115,52,227;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #652ec8;
    --ion-color-danger-tint: #8148e6;

    --ion-color-dark: #111111;
    --ion-color-dark-rgb: 17,17,17;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #0f0f0f;
    --ion-color-dark-tint: #292929;

    --ion-color-medium: #a2a09d;
    --ion-color-medium-rgb: 162,160,157;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #8f8d8a;
    --ion-color-medium-tint: #abaaa7;

    --ion-color-light: #f5f2eb;
    --ion-color-light-rgb: 245,242,235;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d8d5cf;
    --ion-color-light-tint: #f6f3ed;
  }
  .original {
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56,128,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;

    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12,209,232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;

    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112,68,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;

    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16,220,96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;

    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255,206,0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255,255,255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245,61,61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,34,34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,244,244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }

}
