// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import './fonts.scss';
:root {
  .Purple-Silk-Pink {
    --pri: #1d1123; // suc // purple
    --sec: #ebccc0; // war // silk
    --ter: #d72991; // pink
    --dan: #df1a27; //
    --dar: #030002; //
    --med: #777d96; //
    --lig: #ebd0fa; //

    --ion-color-primary: #1d1123;
  --ion-color-primary-rgb: 29,17,35;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #1a0f1f;
  --ion-color-primary-tint: #342939;

  --ion-color-secondary: #ebccc0;
  --ion-color-secondary-rgb: 235,204,192;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #cfb4a9;
  --ion-color-secondary-tint: #edd1c6;

  --ion-color-tertiary: #d72991;
  --ion-color-tertiary-rgb: 215,41,145;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #bd2480;
  --ion-color-tertiary-tint: #db3e9c;

  --ion-color-success: #1d1123;
  --ion-color-success-rgb: 29,17,35;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #1a0f1f;
  --ion-color-success-tint: #342939;

  --ion-color-warning: #ebccc0;
  --ion-color-warning-rgb: 235,204,192;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #cfb4a9;
  --ion-color-warning-tint: #edd1c6;

  --ion-color-danger: #df1a27;
  --ion-color-danger-rgb: 223,26,39;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c41722;
  --ion-color-danger-tint: #e2313d;

  --ion-color-dark: #030002;
  --ion-color-dark-rgb: 3,0,2;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #030002;
  --ion-color-dark-tint: #1c1a1b;

  --ion-color-medium: #777d96;
  --ion-color-medium-rgb: 119,125,150;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #696e84;
  --ion-color-medium-tint: #858aa1;

  --ion-color-light: #ebd0fa;
  --ion-color-light-rgb: 235,208,250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #cfb7dc;
  --ion-color-light-tint: #edd5fb;
  }

  .Olive-Liver-Cadet {
    --pri: #868622; // suc // olive
    --sec: #484041; // war // liver
    --ter: #2F3061; // space cadet
    --dan: #df1a27; //
    --dar: #0a0b17; //
    --med: #7a917d; //
    --lig: #f4f4de; //

    --ion-color-primary: #868622;
    --ion-color-primary-rgb: 134,134,34;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #76761e;
    --ion-color-primary-tint: #929238;

    --ion-color-secondary: #484041;
    --ion-color-secondary-rgb: 72,64,65;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #3f3839;
    --ion-color-secondary-tint: #5a5354;

    --ion-color-tertiary: #2F3061;
    --ion-color-tertiary-rgb: 47,48,97;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #292a55;
    --ion-color-tertiary-tint: #444571;

    --ion-color-success: #868622;
    --ion-color-success-rgb: 134,134,34;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #76761e;
    --ion-color-success-tint: #929238;

    --ion-color-warning: #484041;
    --ion-color-warning-rgb: 72,64,65;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255,255,255;
    --ion-color-warning-shade: #3f3839;
    --ion-color-warning-tint: #5a5354;

    --ion-color-danger: #df1a27;
    --ion-color-danger-rgb: 223,26,39;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #c41722;
    --ion-color-danger-tint: #e2313d;

    --ion-color-dark: #0a0b17;
    --ion-color-dark-rgb: 10,11,23;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #090a14;
    --ion-color-dark-tint: #23232e;

    --ion-color-medium: #7a917d;
    --ion-color-medium-rgb: 122,145,125;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #6b806e;
    --ion-color-medium-tint: #879c8a;

    --ion-color-light: #f4f4de;
    --ion-color-light-rgb: 244,244,222;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d7c3;
    --ion-color-light-tint: #f5f5e1;
  }

  .Smoky-Gold-Red {
    --pri: #12100F; // suc // smoky black
    --sec: #d5b84a; // war // gold
    --ter: #940906; // red
    --dan: #ff2600; //
    --dar: #150101; //
    --med: #bf9e98; //
    --lig: #dbc9c3; //

    --ion-color-primary: #12100F;
  --ion-color-primary-rgb: 18,16,15;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #100e0d;
  --ion-color-primary-tint: #2a2827;

  --ion-color-secondary: #d5b84a;
  --ion-color-secondary-rgb: 213,184,74;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #bba241;
  --ion-color-secondary-tint: #d9bf5c;

  --ion-color-tertiary: #940906;
  --ion-color-tertiary-rgb: 148,9,6;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #820805;
  --ion-color-tertiary-tint: #9f221f;

  --ion-color-success: #12100F;
  --ion-color-success-rgb: 18,16,15;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #100e0d;
  --ion-color-success-tint: #2a2827;

  --ion-color-warning: #d5b84a;
  --ion-color-warning-rgb: 213,184,74;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #bba241;
  --ion-color-warning-tint: #d9bf5c;

  --ion-color-danger: #df1a27;
  --ion-color-danger-rgb: 223,26,39;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c41722;
  --ion-color-danger-tint: #e2313d;

  --ion-color-dark: #150101;
  --ion-color-dark-rgb: 21,1,1;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #120101;
  --ion-color-dark-tint: #2c1a1a;

  --ion-color-medium: #bf9e98;
  --ion-color-medium-rgb: 191,158,152;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #a88b86;
  --ion-color-medium-tint: #c5a8a2;

  --ion-color-light: #dbc9c3;
  --ion-color-light-rgb: 219,201,195;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #c1b1ac;
  --ion-color-light-tint: #dfcec9;
  }

  .Oxford-Steel-Blue {
    --pri: #16233b; // suc // oxford blue
    --sec: #AEC5EB; // war // light steel blue
    --ter: #0e78ba; // star command blue
    --dan: #e33434; //
    --dar: #020f16; //
    --med: #81869b; //
    --lig: #dae3f1; //

    --ion-color-primary: #16233b;
  --ion-color-primary-rgb: 22,35,59;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #131f34;
  --ion-color-primary-tint: #2d394f;

  --ion-color-secondary: #AEC5EB;
  --ion-color-secondary-rgb: 174,197,235;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #99adcf;
  --ion-color-secondary-tint: #b6cbed;

  --ion-color-tertiary: #0e78ba;
  --ion-color-tertiary-rgb: 14,120,186;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #0c6aa4;
  --ion-color-tertiary-tint: #2686c1;

  --ion-color-success: #16233b;
  --ion-color-success-rgb: 22,35,59;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #131f34;
  --ion-color-success-tint: #2d394f;

  --ion-color-warning: #AEC5EB;
  --ion-color-warning-rgb: 174,197,235;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #99adcf;
  --ion-color-warning-tint: #b6cbed;

  --ion-color-danger: #df1a27;
  --ion-color-danger-rgb: 223,26,39;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c41722;
  --ion-color-danger-tint: #e2313d;

  --ion-color-dark: #020f16;
  --ion-color-dark-rgb: 2,15,22;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #020d13;
  --ion-color-dark-tint: #1b272d;

  --ion-color-medium: #81869b;
  --ion-color-medium-rgb: 129,134,155;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #727688;
  --ion-color-medium-tint: #8e92a5;

  --ion-color-light: #dae3f1;
  --ion-color-light-rgb: 218,227,241;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #c0c8d4;
  --ion-color-light-tint: #dee6f2;

  }
  .Asparagus-Wheat-Eggplant {
    --pri: #729c5d; // suc // asparagus
    --sec: #F5E0B7; // war // wheat
    --ter: #5E4955; // eggplant
    --dan: #de100c; // red
    --dar: #080705; // black
    --med: #968c85; //
    --lig: #D5D5D5; // light gray

    --ion-color-primary: #729c5d;
    --ion-color-primary-rgb: 114,156,93;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #648952;
    --ion-color-primary-tint: #80a66d;

    --ion-color-secondary: #F5E0B7;
    --ion-color-secondary-rgb: 245,224,183;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #d8c5a1;
    --ion-color-secondary-tint: #f6e3be;

    --ion-color-tertiary: #5E4955;
    --ion-color-tertiary-rgb: 94,73,85;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #53404b;
    --ion-color-tertiary-tint: #6e5b66;

    --ion-color-success: #729c5d;
    --ion-color-success-rgb: 114,156,93;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #648952;
    --ion-color-success-tint: #80a66d;

    --ion-color-warning: #F5E0B7;
    --ion-color-warning-rgb: 245,224,183;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #d8c5a1;
    --ion-color-warning-tint: #f6e3be;

    --ion-color-danger: #de100c;
    --ion-color-danger-rgb: 222,16,12;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #c30e0b;
    --ion-color-danger-tint: #e12824;

    --ion-color-dark: #080705;
    --ion-color-dark-rgb: 8,7,5;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #070604;
    --ion-color-dark-tint: #21201e;

    --ion-color-medium: #968c85;
    --ion-color-medium-rgb: 150,140,133;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #847b75;
    --ion-color-medium-tint: #a19891;

    --ion-color-light: #D5D5D5;
    --ion-color-light-rgb: 213,213,213;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #bbbbbb;
    --ion-color-light-tint: #d9d9d9;
  }
  .Orange-Silver-Gunmetal {
    --pri: #2B303A; // suc // gunmetal
    --sec: #c1beb9; // war // silver sand
    --ter: #C25C2A; // orange
    --dan: #eb445a; // red
    --dar: #272228; // black coffee
    --med: #91929b; //
    --lig: #E0EFF1; // white

    --ion-color-primary: #2B303a;
  --ion-color-primary-rgb: 43,48,58;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #262a33;
  --ion-color-primary-tint: #40454e;

  --ion-color-secondary: #c1beb9;
  --ion-color-secondary-rgb: 193,190,185;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #aaa7a3;
  --ion-color-secondary-tint: #c7c5c0;

  --ion-color-tertiary: #C25C2a;
  --ion-color-tertiary-rgb: 194,92,42;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #ab5125;
  --ion-color-tertiary-tint: #c86c3f;

  --ion-color-success: #2B303a;
  --ion-color-success-rgb: 43,48,58;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #262a33;
  --ion-color-success-tint: #40454e;

  --ion-color-warning: #c1beb9;
  --ion-color-warning-rgb: 193,190,185;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #aaa7a3;
  --ion-color-warning-tint: #c7c5c0;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #272228;
  --ion-color-dark-rgb: 39,34,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #221e23;
  --ion-color-dark-tint: #3d383e;

  --ion-color-medium: #91929b;
  --ion-color-medium-rgb: 145,146,155;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #808088;
  --ion-color-medium-tint: #9c9da5;

  --ion-color-light: #E0EFF1;
  --ion-color-light-rgb: 224,239,241;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #c5d2d4;
  --ion-color-light-tint: #e3f1f2;
  }
  .Indigo-Platinum-Grass {
    --pri: #393E41; // suc // indigo
    --sec: #EDE6E3; // war // platinum
    --ter: #009ad6; // blue
    --dan: #df1a27; //
    --dar: #031151; // midnight blue
    --med: #436f87; //
    --lig: #a7e894; // apple

    --ion-color-primary: #2B4162;
  --ion-color-primary-rgb: 43,65,98;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #263956;
  --ion-color-primary-tint: #405472;

  --ion-color-secondary: #EDE6E3;
  --ion-color-secondary-rgb: 237,230,227;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d1cac8;
  --ion-color-secondary-tint: #efe9e6;

  --ion-color-tertiary: #009ad6;
  --ion-color-tertiary-rgb: 0,154,214;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #0088bc;
  --ion-color-tertiary-tint: #1aa4da;

  --ion-color-success: #2B4162;
  --ion-color-success-rgb: 43,65,98;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #263956;
  --ion-color-success-tint: #405472;

  --ion-color-warning: #EDE6E3;
  --ion-color-warning-rgb: 237,230,227;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d1cac8;
  --ion-color-warning-tint: #efe9e6;

  --ion-color-danger: #df1a27;
  --ion-color-danger-rgb: 223,26,39;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c41722;
  --ion-color-danger-tint: #e2313d;

  --ion-color-dark: #031151;
  --ion-color-dark-rgb: 3,17,81;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #030f47;
  --ion-color-dark-tint: #1c2962;

  --ion-color-medium: #436f87;
  --ion-color-medium-rgb: 67,111,135;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #3b6277;
  --ion-color-medium-tint: #567d93;

  --ion-color-light: #a7e894;
  --ion-color-light-rgb: 167,232,148;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #93cc82;
  --ion-color-light-tint: #b0ea9f;
  }

}
