
<amplify-authenticator>

  <div slot="greetings">
    <amplify-greetings [username]="signedInUser?.username">
    </amplify-greetings>
    <ion-item >
      <ion-label slot="start"><small>
        {{identityIdText}}</small>
      </ion-label>
      <ion-button slot="end" class="noPadding" [disabled]="IsWebApp"
        fill="clear" (click)="copyUserId()">
        <ion-icon slot="icon-only" name="copy-sharp"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <amplify-sign-up slot="sign-up"
    header-text="Create a new TrainEx account" >
  </amplify-sign-up>

</amplify-authenticator>

<!-- <ion-item>
  <ion-label slot="start"><small>
    {{identityIdText}}</small>
  </ion-label>
  <ion-button slot="end" class="noPadding" [disabled]="IsWebApp"
    fill="clear" (click)="copyUserId()">
    <ion-icon slot="icon-only" name="copy-sharp"></ion-icon>
  </ion-button>
</ion-item> -->
