<ion-header>
  <ion-toolbar>
    <ion-title>Workouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="start" #fabEdit id="fabEdit" slot="fixed">
    <ion-fab-button size="small" color="warning"(click)="editWorkouts()">
      <ion-icon name="construct"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button size="small" (click)="addWorkout($event)"
        color="light" >
        <ion-icon name="today"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" (click)="importWorkout($event)"
        color="light" >
        <ion-icon name="cloud-download"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list lines="none" >
    <ion-item *ngFor="let workout of workouts">

        <app-workout-card
          [workoutId]="workout.id"
          [displayMode]="DisplayMode">
        </app-workout-card>

    </ion-item>
   </ion-list>

</ion-content>
