<ion-header>
  <ion-toolbar>
    <ion-title>Workouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab slot="fixed" edge="true"
    vertical="top" horizontal="start" >

    <ion-fab-button size="small"
      (click)="editWorkouts()">
      <ion-icon name="settings-sharp" ></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="end" class="animated fadeInDown">
      <ion-fab-button size="small"
        (click)="addWorkout($event)" >
        <ion-icon name="add-circle-sharp" ></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
      <ion-fab-list side="ebottomnd" class="animated fadeInLeft">
      <ion-fab-button size="small"
        (click)="importWorkout($event)" >
        <ion-icon name="cloud-download-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

  <ion-list lines="none">
    <ion-item *ngFor="let workout of workouts">

        <app-workout-card
          [workoutId]="workout.id"
          [displayMode]="DisplayMode">
        </app-workout-card>

    </ion-item>
   </ion-list>

</ion-content>
