ion-input {
    --padding-start: 0px!important;
    --padding-end: 0px;
}
ion-item {
    --padding-start: 5px;
    --padding-end: 5px;
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
}
ion-button {
    align-self: stretch;
}