
ion-toolbar#second {
    --background: var(--ion-color-tertiary);
}

ion-content {
    --background: var(--ion-color-tertiary);
    --padding-end: 8px;
    --padding-start: 8px;
}

ion-footer {
    background: var(--ion-color-tertiary);
    ion-col {
        background: var(--ion-color-tertiary);
        ion-button {
            margin: 0px;
            padding: 0px;
            ion-label {
                color: var(--ion-color-light);
            }
        }
    }
}