<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Muscles</ion-title>
  </ion-toolbar>
  <ion-toolbar id="second" >
      <ion-title *ngIf="isSettingMedia"
        color="light" size="small">
        {{mediaToSet}}
      </ion-title>
      <ion-title *ngIf="!isSettingMedia"
        color="light" size="small">
        Set Exercises Filter
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <svg version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 555 781" preserveAspectRatio="xMinYMin meet"
         class="svg-content">
         <g>
          <clipPath id="body-mask">
            <rect width="555" height=781 />
          </clipPath>
       </g>
      <image clip-path="url(#body-mask)" height="100%" width="100%"
             xlink:href="./assets/images/muscles/muscle-man.jpg" >
      </image>
      <a *ngFor="let group of muscleGroups"
        (click)="toggleMuscle(group)">
        <g>
          <path *ngFor="let path of group.paths"
            [attr.id]="path.id"
            fill="red" opacity="0" [attr.d]="path.data"/>
        </g>
      </a>
      <animate *ngFor="let path of selectedPaths"
          [attr.xlink:href]="getAnimationHref(path)"
          attributeName="opacity"
          values="0;0.4;0.6;0.4;0"
          keyTimes="0;0.2;0.5;0.8;1"
          dur="2s"
          begin="0.2"
          repeatCount="indefinite" />
    </svg>

</ion-content>

<ion-footer>
  <ion-row class="ion-text-center">
  <ion-col *ngFor="let group of muscleGroups">
    <ion-button color="primary"
                [fill]="getButtonFill(group)" size="small"
                (click)="toggleMuscle(group)">
        <ion-label>{{group.name}}</ion-label>
    </ion-button>
  </ion-col>
</ion-row>
</ion-footer>
