<ion-list *ngIf="!isSetActions">
  <ion-item>
    <ion-button size="large" fill="clear" (click)="deleteExercise()">
      Delete this exercise
      <ion-icon slot="start" name="trash" color="primary"></ion-icon>
  </ion-button>
  </ion-item>
  <ion-item *ngIf="canSwap">
    <ion-button size="large" fill="clear" (click)="swapExercise()">
      Swap exercise with next
      <ion-icon slot="start" name="swap" color="primary"></ion-icon>
  </ion-button>
  </ion-item>
  <ion-item>
    <ion-button size="large" fill="clear" (click)="viewExercise()">
      Locate in Exercises library
      <ion-icon slot="start" name="fitness" color="primary"></ion-icon>
  </ion-button>
  </ion-item>

</ion-list>

<ion-list *ngIf="isSetActions">
  <ion-item>
    <ion-button size="large" fill="clear" (click)="editSet()">
      Edit this set
      <ion-icon slot="start" name="create" color="primary"></ion-icon>
  </ion-button>
  </ion-item>
  <ion-item>
    <ion-button size="large" fill="clear" (click)="addSet()" [disabled]="isMaxReps">
      Add a copied set
      <ion-icon slot="start" name="add-circle" color="primary"></ion-icon>
  </ion-button>
  </ion-item>
  <ion-item>
    <ion-button size="large" fill="clear" (click)="deleteSet()" [disabled]="isMinReps">
      Delete this set
      <ion-icon slot="start" name="remove-circle" color="primary"></ion-icon>
  </ion-button>
  </ion-item>


</ion-list>
