ion-button {
    color: var(--ion-color-tertiary);
}
ion-list {
    background: var(--ion-color-warning);
}
ion-item {
    --padding-start: 0px;
    --padding-end: 0px;
    --background: var(--ion-color-warning);
}
