ion-button {
    color: var(--ion-color-dark);
}
ion-list {
    background: var(--ion-color-light);
    padding-top: 0px;
    padding-bottom: 0px;
}
ion-item {
    --background: var(--ion-color-light);
}
