<div class="inner-content">

  <ion-toolbar>
    <ion-title size="small">Terms of Use & Privacy Policy</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-label slot="start">
          Close
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-content class="terms" color="secondary"
    [innerHTML]="SafeTermsHtml">
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-toggle [(ngModel)]="termsOfUse.isAccepted" slot="end" >
      </ion-toggle>
      <ion-label slot="start">I Accpet these terms</ion-label>
    </ion-toolbar>
  </ion-footer>

</div>
