ion-content.terms {
    color: var(--ion-color-light);
    margin-left: 10px;
    margin-right: 10px;
    height: 50vh;
}

ion-toolbar {
    ion-label {
        margin-left: 10px;
        margin-right: 10px;
    }
}