/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Amplify CSS utils that can be commented out
the linked files were copied to src/theme/amplify */
@import './theme/amplify/Angular.scss';
@import './theme/amplify/style.css';
@import './theme/amplify/Theme.css';

::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}
* {
    --ion-font-family: 'Rubik';
}
ion-slides {
    --bullet-background-active: var(--ion-color-primary)!important;
}
.swiper-pagination {
    bottom: 6px!important;
}
ion-toolbar {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-primary);
}
ion-content {
    --background: var(--ion-color-tertiary);
}
ion-popover {
    --width: 300px!important;
    --background: var(--ion-color-light)!important;
    div.popover-content.sc-ion-popover-ios  {
        left: 50% !important;
        transform: translate(-50%) !important;
  }
}
ion-alert {
    --background: var(--ion-color-light)!important;
}
ion-toast {
    --background: var(--ion-color-light)!important;
}

.sc-ion-modal-md-h, .sc-ion-modal-ios {
    --background: var(--ion-background-color,rgba(0,0,0,0.534)) !important;
}
ion-modal.auto-height {
    &.bottom {
        align-items: flex-end;
    }

    --height: auto;

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        .inner-content {
            max-height: 80vh;
            overflow: auto;
            padding: 10px;
        }
    }
}
ion-fab-button.fab-button-in-list.fab-button-show.fab-button-disabled {
    opacity: 0.5;
}
